#main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #blog-container {
    display: flex;
  }
  #character-card{
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width : 968px){
    #main{
      display: flex;
    }
  }